{% extends "memopolis/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="user-app-wrap">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset hasła</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outlint-info" type="submit">Zresetetuj</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}