{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'memopolis/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'memopolis/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'memopolis/favicon.ico' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
    
    <title>Memopolis</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel">
            <div class="container">
                <a class="navbar-brand mr-4 text-shadow" href="{% url 'memopolis-index' %}">Memopolis</a>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="mr-auto">
                    </div>
                    <!-- Hamburger -->
                    <div class="dropdown">
                        <button class="dropbtn" onclick="dropdown()">&#9776;</button>
                        <div id="myDropdown" class="dropdown-content hamburger">
                            {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'memopolis-unaccepted' %}">Poczekalnia</a>
                            <a class="nav-item nav-link" href="{% url 'memopolis-top' %}">Top</a>
                            <hr>
                            <a class="nav-item nav-link" href="{% url 'meme-create' %}">Dodaj</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Wyloguj</a>
                            <a class="nav-item nav-link" href="{% url 'profile' %}">Profil</a>
                            {% else %}
                            <a class="nav-item nav-link" href="{% url 'memopolis-unaccepted' %}">Poczekalnia</a>
                            <a class="nav-item nav-link" href="{% url 'memopolis-top' %}">Top</a>
                            <a class="nav-item nav-link" href="{% url 'login' %}">Logowanie</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}">Rejestracja</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'memopolis-unaccepted' %}">Poczekalnia</a>
                        <a class="nav-item nav-link" href="{% url 'memopolis-top' %}">Top</a>
                        <a class="nav-item nav-link" href="{% url 'meme-create' %}">Dodaj</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Wyloguj</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profil</a>
                        <a href="{% url 'profile' %}"><img class="rounded-circle navimg"
                                src="{{ user.profile.image.url }}"></a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'memopolis-unaccepted' %}">Poczekalnia</a>
                        <a class="nav-item nav-link" href="{% url 'memopolis-top' %}">Top</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Logowanie</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Rejestracja</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        {% if messages %}
        {% for message in messages %}
        <hr>
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
        <hr>
        <div class="navbar container submenu">
            <div>
                <a href="{% url 'memopolis-your-memes' %}" class="font-weight-bold">Twoje memy</a>
            </div>
            <div>
                <a href="{% url 'memopolis-your-points' %}" class="font-weight-bold">Twoje punkty</a>
            </div>
            <div>
                <a href="{% url 'memopolis-your-badges' %}" class="font-weight-bold">Twoje odznaki</a>
            </div>
        </div>
        <hr>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
<script type="text/javascript" src="{% static 'memopolis/dropdown.js' %}"></script>
{% block javascript %}{% endblock %}

</html>