{% extends "memopolis/base.html" %}
{% load static %}
{% block content %}
<div id="content">
    <div class="memes">
        {% for meme in page_obj %}
        <div class="meme">
            <div class="author">
                <div class="authorImg">
                    <a>
                        <img class="rounded-circle small-img" src="{{ meme.author.profile.image.url }}">
                    </a>
                </div>
                <div class="authorName">
                    <a>{{ meme.author }}</a>
                </div>
                <div class="datePosted">
                    <a>{{ meme.date_posted|date:"d.m, Y" }}</a>
                </div>
            </div>
            <div class="memeTitle">
                <a href="{% url 'meme-detail' meme.id %}">{{ meme.title }}</a>
            </div>
            <div class="tags">
                {% for tag in meme.tags.all %}
                <a>{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="memeImg">
                <a href="{% url 'meme-detail' meme.id %}">
                    <img src="{{ meme.image.url }}">
                </a>
            </div>
            <iframe name="frame"></iframe>
            <div class="actions">
                <div class="votes">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if user.is_authenticated %}

                        <button type="submit" name="{{ meme.pk }} {{ user.id }} up meme" class="upvotes">
                            <div class="widen">
                                <a>&#8593;</a>
                                <a class="closer">{{ meme.num_vote_up }}</a>
                            </div>

                        </button>

                        {% else %}
                        <div class="upvotes-inactive">
                            <div class="widen">
                                <a>&#8593;</a>
                                <a class="closer">{{ meme.num_vote_up }}</a>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
                <div class="act">
                    <a href="{% url 'meme-detail' meme.id %}" class="comment">Skomentuj</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="content-section margin-top">
            <a href="{% url 'memopolis-top' %}">Top</a>
            {% for top in tops %}
            <div>
                <a href="{% url 'meme-detail' top.id %}">#{{ forloop.counter }}</a>
            </div>
            <div class="top">
                <a href="{% url 'meme-detail' top.id %}">{{ top }}</a>
                <a href="{% url 'meme-detail' top.id %}"><img src="{{ top.image.url }}"></a>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

<div class="pagination">
    <div class="step-links">
        {% if page_obj.has_previous %}
        <div class="prev">
            <button class="btn btn-outline-secondary"><a href="?page=1" class="font-weight-bold">&laquo; Pierwsza</a></button>
            <button class="btn btn-outline-secondary"><a href="?page={{ page_obj.previous_page_number }}" class="font-weight-bold">Poprzednia</a></button>
        </div>
        {% endif %}
        {% if not page_obj.has_previous %}
        <div class="prev">
            <button class="btn btn-outline-secondary" disabled><a class="font-weight-bold">&laquo; Pierwsza</a></button>
            <button class="btn btn-outline-secondary" disabled><a class="font-weight-bold">Poprzednia</a></button>
        </div>
        {% endif %}

        <div class="current">
            <button class="btn btn-outline-secondary"><a href="#" class="font-weight-bold">Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.</a></button>
        </div>

        {% if page_obj.has_next %}
        <div class="forth">
            <button class="btn btn-outline-secondary"><a href="?page={{ page_obj.next_page_number }}" class="font-weight-bold">Następna</a></button>
            <button class="btn btn-outline-secondary"><a href="?page={{ page_obj.paginator.num_pages }}" class="font-weight-bold">Ostatnia &raquo;</a></button>
        </div>
        {% endif %}
        {% if not page_obj.has_next %}
        <div class="forth">
            <button class="btn btn-outline-secondary" disabled><a class="font-weight-bold">Następna</a></button>
            <button class="btn btn-outline-secondary" disabled><a class="font-weight-bold">Ostatnia &raquo;</a></button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}