{% extends "memopolis/base.html" %}
{% block content %}
<div class="detailMeme">
    <div class="meme">
        <div class="author">
            <div class="authorImg">
                <a>
                    <img class="rounded-circle small-img" src="{{ meme.author.profile.image.url }}">
                </a>
            </div>
            <div class="authorName">
                <a>{{ meme.author }}</a>
            </div>
            <div class="datePosted">
                <a>{{ meme.date_posted|date:"d.m, Y" }}</a>
            </div>
        </div>
        <div class="memeTitle">
            <a>{{ meme.title }}</a>
        </div>
        <div class="tags">
            {% if meme.tag1 %}
            <a>{{ meme.tag1 }}</a>
            {% endif %}
            {% if meme.tag2 %}
            <a>{{ meme.tag2 }}</a>
            {% endif %}
            {% if meme.tag3 %}
            <a>{{ meme.tag3 }}</a>
            {% endif %}
        </div>
        <div class="memeImg">
            <a>
                <img src="{{ meme.image.url }}">
            </a>
        </div>
        <div class="actions">
            <div class="votes">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <button type="submit" name="{{ meme.pk }} {{ user.id }} up meme"
                        class="upvotes">{{ meme.upvotes }}</button>
                    {% else %}
                    <a class="upvotes">{{ meme.upvotes }}</a>
                    {% endif %}
                </form>
            </div>
            <div class="votes">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <button type="submit" name="{{ meme.pk }} {{ user.id }} down meme"
                        class="downvotes">{{ meme.downvotes }}</button>
                    {% else %}
                    <a class="downvotes">{{ meme.downvotes }}</a>
                    {% endif %}
                </form>
            </div>
            <div class="act">
                <button class="share">Udostępnij</button>
                {% if 0 %}
                <button class="flag">Zgłoś</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div>
    <form action="" method="post">
        

    </form>
</div>
<div class="comment-section">
    <div class="each-comment add-button">
        <button>+</button>
    </div>


    {% for comment in comments %}
    <div class="each-comment">
        <div class="author pad">

            <div class="authorImg">
                <a>
                    <img class="rounded-circle small-img" src="{{ meme.author.profile.image.url }}">
                </a>
                {{ comment.author_id }}
            </div>

        </div>
        <div class="comment-content">
            {{ comment.content }}
        </div>
        <div class="actions">
            <div class="votes">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <button type="submit" name="{{ comment.pk }} {{ user.id }} up comment"
                        class="upvotes">{{ comment.upvotes }}</button>
                    {% else %}
                    <a class="upvotes">{{ comment.upvotes }}</a>
                    {% endif %}
                </form>
            </div>
            <div class="votes">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <button type="submit" name="{{ comment.pk }} {{ user.id }} down comment"
                        class="downvotes">{{ comment.downvotes }}</button>
                    {% else %}
                    <a class="downvotes">{{ comment.downvotes }}</a>
                    {% endif %}
                </form>
            </div>
            <div class="act">
                <button class="comment">Odpowiedz</button>
                {% if 0 %}
                <button class="flag">Zgłoś</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}