{% extends "memopolis/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% if user.id == meme.author.id %}
<hr>
<div class="navbar container submenu">
    <div>
        <a href="{% url 'meme-edit' meme.pk %}">Edytuj mem</a>
    </div>
    <div>
        <a href="{% url 'meme-delete' meme.pk %}">Usuń mem</a>
    </div>
</div>
<hr>
{% endif %}

<div class="detailMeme">
    <div class="meme">
        <div class="author">
            <div class="authorImg">
                <a>
                    <img class="rounded-circle small-img" src="{{ meme.author.profile.image.url }}">
                </a>
            </div>
            <div class="authorName">
                <a>{{ meme.author }}</a>
            </div>
            <div class="datePosted">
                <a>{{ meme.date_posted|date:"d.m, Y" }}</a>
            </div>
        </div>
        <div class="memeTitle">
            <a>{{ meme.title }}</a>
        </div>
        <div class="tags">
            {% for tag in meme.tags.all %}
            <a>{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="memeImg">
            <a>
                <img src="{{ meme.image.url }}">
            </a>
        </div>
        <div class="actions">
            <div class="votes">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <button type="submit" name="{{ meme.pk }} {{ user.id }} up meme"
                        class="upvotes">{{ meme.num_vote_up }}</button>
                    {% else %}
                    <a class="upvotes">{{ meme.num_vote_up }}</a>
                    {% endif %}
                </form>
            </div>
            <div class="act">

            </div>
        </div>
    </div>
</div>

<div class="comment-section">
    <div class="each-comment add-button">
        <button onclick="reveal()">+</button>
    </div>
    <div class="each-comment veil">
        <div class="author pad">

            <div class="authorImg">
                <a>
                    <img class="rounded-circle small-img" src="{{ meme.author.profile.image.url }}">
                </a>
                {{ user }}
            </div>

        </div>
        <div class="comment-content">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Nowy komentarz</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outlint-info" type="submit">Dodaj komentarz</button>
                </div>
               
            </form>
        </div>
    </div>

    {% for comment in comments %}
    <div class="each-comment">
        <div class="author pad">

            <div class="authorImg">
                <a>
                    <img class="rounded-circle small-img" src="{{ comment.author.profile.image.url }}">
                </a>
                {{ comment.author }}
            </div>

        </div>
        <div class="comment-content">
            {{ comment.content }}
        </div>
        <div class="actions">
            <div class="votes">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <button type="submit" name="{{ comment.pk }} {{ user.id }} up comment"
                        class="upvotes">{{ comment.num_vote_up }}</button>
                    {% else %}
                    <a class="upvotes">{{ comment.num_vote_up }}</a>
                    {% endif %}
                </form>
            </div>

            <div class="act">
                <button class="comment">Odpowiedz</button>

            </div>
        </div>
    </div>
    {% endfor %}

</div>

<script type="text/javascript" src="{% static 'memopolis/reveal.js' %}"></script>
{% endblock content %}