{% extends "memopolis/base.html" %}
{% load static %}
{% block javascript %}
<script>
    console.log("submit");
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $(".vote-post-class").submit(function (e) {
        // preventing from page reload and default actions
        console.log("submit");
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();

        let what_to_do = $(this).children('button').children('input.what_to_do')[0].attributes[1].value;
        let this_num = $(this)
            .children('button')
            .children('div.widen.d-flex')
            .children('div.num')
            .children('a');
        let this_symbol_div = $(this)
            .children('button')
            .children('div.widen.d-flex')
            .children('div.symbol')[0];
        let other_num;
        let other_symbol_div;
        let if_user_voted_other;
        let other_vote_info;
        let this_vote_info = $(this).children('button').children('p');
        let if_user_voted_this = this_vote_info[0].innerText;
        if (if_user_voted_this == "False" || if_user_voted_this == "false") {
            if_user_voted_this = false;
        } else if (if_user_voted_this == "True" || if_user_voted_this == "true") {
            if_user_voted_this = true;
        }

        if (what_to_do == "up") {
            other_num = $(this)
                .parent()
                .children()
                .eq(2)
                .children('button')
                .children('div.widen.d-flex')
                .children('div.num')
                .children('a');
            other_symbol_div = $(this)
                .parent()
                .children()
                .eq(2)
                .children('button')
                .children('div.widen.d-flex')
                .children('div.symbol')[0];

            other_vote_info = $(this).parent().children().eq(2).children('button').children('p');
            if_user_voted_other = $(this).parent().children().eq(2).children('button').children('p')[0]
                .innerText;

        } else if (what_to_do == "down") {
            other_num = $(this)
                .parent()
                .children()
                .first('form')
                .children('button')
                .children('div.widen.d-flex')
                .children('div.num')
                .children('a');
            other_symbol_div = $(this)
                .parent()
                .children()
                .first('form')
                .children('button')
                .children('div.widen.d-flex')
                .children('div.symbol')[0];

            other_vote_info = $(this).parent().children().first('form').children('button').children('p');
            if_user_voted_other = $(this).parent().children().first('form').children('button').children('p')[0]
                .innerText;

        }
        if (if_user_voted_other == "False" || if_user_voted_other == "false") {
            if_user_voted_other = false;
        } else if (if_user_voted_other == "True" || if_user_voted_other == "true") {
            if_user_voted_other = true;
        }

        if ((what_to_do == "up" && (if_user_voted_this))) {
            this_num[0].innerText = parseInt(this_num[0].innerText) - 1;

            this_vote_info[0].innerText = "false";
            if_user_voted_this = false;

            this_symbol_div.classList.remove("color-green");
            this_symbol_div.classList.add("color-white");

        } else if (what_to_do == "up" && !(if_user_voted_this || if_user_voted_other)) {
            this_num[0].innerText = parseInt(this_num[0].innerText) + 1;

            this_vote_info[0].innerText = "true";
            if_user_voted_this = true;

            this_symbol_div.classList.remove("color-white");
            this_symbol_div.classList.add("color-green");

        } else if ((what_to_do == "up" && (if_user_voted_other))) {
            this_num[0].innerText = parseInt(this_num[0].innerText) + 1;
            other_num[0].innerText = parseInt(other_num[0].innerText) - 1;

            this_vote_info[0].innerText = "true";
            if_user_voted_this = true;
            other_vote_info[0].innerText = "false";
            if_user_voted_other = false;

            this_symbol_div.classList.remove("color-white");
            this_symbol_div.classList.add("color-green");

            other_symbol_div.classList.remove("color-red");
            other_symbol_div.classList.add("color-white");

        } else if ((what_to_do == "down" && (if_user_voted_this))) {
            this_num[0].innerText = parseInt(this_num[0].innerText) - 1;
            this_vote_info[0].innerText = false;
            if_user_voted_this = false;

            this_symbol_div.classList.remove("color-red");
            this_symbol_div.classList.add("color-white");

        } else if (what_to_do == "down" && !(if_user_voted_this || if_user_voted_other)) {
            this_num[0].innerText = parseInt(this_num[0].innerText) + 1;
            this_vote_info[0].innerText = true;
            if_user_voted_this = true;

            this_symbol_div.classList.remove("color-white");
            this_symbol_div.classList.add("color-red");

        } else if ((what_to_do == "down" && (if_user_voted_other))) {
            this_num[0].innerText = parseInt(this_num[0].innerText) + 1;
            other_num[0].innerText = parseInt(other_num[0].innerText) - 1;
            this_vote_info[0].innerText = true;
            other_vote_info[0].innerText = false;
            if_user_voted_this = true;
            if_user_voted_other = false;

            this_symbol_div.classList.remove("color-white");
            this_symbol_div.classList.add("color-red");

            other_symbol_div.classList.remove("color-green");
            other_symbol_div.classList.add("color-white");
        }

        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'post-vote' %}",
            data: serializedData

        })
    })
</script>
{% endblock javascript %}
{% block content %}

<div class="center margin-top2">
    <h1>Top</h1>
</div>
<div id="content">
    <div class="memes">
        {% for meme in page_obj %}
        <div class="meme">
            <div class="author">
                <div class="authorImg">
                    <a>
                        <img class="rounded-circle small-img" src="{{ meme.author.profile.image.url }}">
                    </a>
                </div>
                <div class="authorName">
                    <a>{{ meme.author }}</a>
                </div>
                <div class="datePosted">
                    <a>{{ meme.date_posted|date:"d.m, Y" }}</a>
                </div>
            </div>
            <div class="memeTitle">
                <a href="{% url 'meme-detail' meme.id %}">{{ meme.title }}</a>
            </div>
            <div class="tags">
                {% for tag in meme.tags.all %}
                <a>{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="memeImg">
                <a href="{% url 'meme-detail' meme.id %}">
                    <img src="{{ meme.image.url }}">
                </a>
            </div>
            <iframe name="frame"></iframe>
            <div class="actions">
                <div class="votes">
                    {% if user.is_authenticated %}
                    <div class="d-flex">
                        <form class="vote-post-class">
                            {% csrf_token %}
                            <button type="submit" class="background-primary btn-outline-primary">
                                <p class="hidden">{{ meme.if_user_upvoted }}</p>
                                <input name="object_pk" value="{{ meme.pk }}" class="hidden object_pk">
                                <input name="user_id" value="{{ user.id }}" class="hidden user_id">
                                <input name="what_to_do" value="up" class="hidden what_to_do">
                                <input name="direction" value="meme" class="hidden direction">

                                <div class="widen d-flex">
                                    {% if meme.if_user_upvoted %}
                                    <div class="color-green symbol"><a>&#8593;</a></div>
                                    <div class="color-green num"><a>{{ meme.num_vote_up }}</a></div>
                                    {% else %}
                                    <div class="color-white symbol"><a>&#8593;</a></div>
                                    <div class="color-green num"><a>{{ meme.num_vote_up }}</a></div>
                                    {% endif %}
                                </div>
                            </button>
                        </form>

                        <button type="button" class="btn background-primary color-white inactive" disabled>
                            <div><a>|</a></div>
                        </button>
                        <form class="vote-post-class">
                            {% csrf_token %}
                            <button type="submit" class="background-primary btn-outline-primary">
                                <p class="hidden">{{ meme.if_user_downvoted }}</p>
                                <input name="object_pk" value="{{ meme.pk }}" class="hidden object_pk">
                                <input name="user_id" value="{{ user.id }}" class="hidden user_id">
                                <input name="what_to_do" value="down" class="hidden what_to_do">
                                <input name="direction" value="meme" class="hidden direction">
                                <div class="widen d-flex">
                                    {% if meme.if_user_downvoted %}
                                    <div class="color-red symbol"><a>&#8595;</a></div>
                                    <div class="color-red num"><a>{{ meme.num_vote_down }}</a></div>
                                    {% else %}
                                    <div class="color-white symbol"><a>&#8595;</a></div>
                                    <div class="color-red num"><a>{{ meme.num_vote_down }}</a></div>
                                    {% endif %}
                                </div>
                            </button>
                        </form>
                    </div>

                    {% else %}
                    <div class="d-flex">
                        <button type="submit" name="{{ meme.pk }} {{ user.id }} up meme" class="background-primary selector-not-allowed">
                            <div class="widen d-flex">
                                <div class="color-white"><a>&#8593;</a></div>
                                <div class="color-green"><a>{{ meme.num_vote_up }}</a></div>
                            </div>
                        </button>
                        <button type="button" class="btn background-primary color-white inactive" disabled>
                            <div><a>|</a></div>
                        </button>
                        <button type="submit" name="{{ meme.pk }} {{ user.id }} down meme" class="background-primary selector-not-allowed">
                            <div class="widen d-flex">
                                <div class="color-white"><a>&#8595;</a></div>
                                <div class="color-red"><a>{{ meme.num_vote_down }}</a></div>
                            </div>
                        </button>
                    </div>
                    {% endif %}
                </div>
                <div class="act d-flex">
                    <div>
                        <a href="{% url 'meme-detail' meme.id %}" class="comment">Skomentuj</a>
                    </div>

                </div>
            </div>
            {% if user.is_superuser %}
            <hr>
            <div id="superuser-actions" class="actions">
                <div class="act d-flex">
                    <a href="{% url 'meme-delete' meme.pk %}" class="comment btn-outline-primary">Usuń</a>
                </div>

            </div>
            <hr>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <div class="step-links">
        {% if page_obj.has_previous %}
        <div class="prev">
            <button class="btn btn-outline-primary"><a href="?page=1" class="font-weight-bold">&laquo;
                    Pierwsza</a></button>
            <button class="btn btn-outline-primary"><a href="?page={{ page_obj.previous_page_number }}"
                    class="font-weight-bold">Poprzednia</a></button>
        </div>
        {% endif %}
        {% if not page_obj.has_previous %}
        <div class="prev">
            <button class="btn btn-outline-secondary selector-not-allowed" disabled><a class="font-weight-bold">&laquo; Pierwsza</a></button>
            <button class="btn btn-outline-secondary selector-not-allowed" disabled><a class="font-weight-bold">Poprzednia</a></button>
        </div>
        {% endif %}

        <div class="current">
            <button class="btn btn-outline-secondary"><a href="#" class="font-weight-bold">Strona {{ page_obj.number }}
                    z {{ page_obj.paginator.num_pages }}.</a></button>
        </div>

        {% if page_obj.has_next %}
        <div class="forth">
            <button class="btn btn-outline-primary"><a href="?page={{ page_obj.next_page_number }}"
                    class="font-weight-bold">Następna</a></button>
            <button class="btn btn-outline-primary"><a href="?page={{ page_obj.paginator.num_pages }}"
                    class="font-weight-bold">Ostatnia &raquo;</a></button>
        </div>
        {% endif %}
        {% if not page_obj.has_next %}
        <div class="forth">
            <button class="btn btn-outline-secondary selector-not-allowed" disabled><a class="font-weight-bold">Następna</a></button>
            <button class="btn btn-outline-secondary selector-not-allowed" disabled><a class="font-weight-bold">Ostatnia &raquo;</a></button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}