{% extends "memopolis/base.html" %}
{% load static %}
{% block content %}
<div id="content">
    <div class="bag">
        <div class="your-memes">
            <div class="center margin-top2 margin-bottom2"><h1>Twoje memy</h1></div>
            {% for meme in page_obj %}
            <div class="top">
                <a href="{% url 'meme-detail' meme.id %}">{{ meme }}</a>
                <a href="{% url 'meme-detail' meme.id %}"><img src="{{ meme.image.url }}"></a>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

<div class="pagination">
    <div class="step-links">
        {% if page_obj.has_previous %}
        <div class="prev">
            <button class="btn btn-outline-secondary"><a href="?page=1" class="font-weight-bold">&laquo; Pierwsza</a></button>
            <button class="btn btn-outline-secondary"><a href="?page={{ page_obj.previous_page_number }}" class="font-weight-bold">Poprzednia</a></button>
        </div>
        {% endif %}
        {% if not page_obj.has_previous %}
        <div class="prev">
            <button class="btn btn-outline-secondary" disabled><a class="font-weight-bold">&laquo; Pierwsza</a></button>
            <button class="btn btn-outline-secondary" disabled><a class="font-weight-bold">Poprzednia</a></button>
        </div>
        {% endif %}

        <div class="current">
            <button class="btn btn-outline-secondary"><a href="#" class="font-weight-bold">Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.</a></button>
        </div>

        {% if page_obj.has_next %}
        <div class="forth">
            <button class="btn btn-outline-secondary"><a href="?page={{ page_obj.next_page_number }}" class="font-weight-bold">Następna</a></button>
            <button class="btn btn-outline-secondary"><a href="?page={{ page_obj.paginator.num_pages }}" class="font-weight-bold">Ostatnia &raquo;</a></button>
        </div>
        {% endif %}
        {% if not page_obj.has_next %}
        <div class="forth">
            <button class="btn btn-outline-secondary" disabled><a class="font-weight-bold">Następna</a></button>
            <button class="btn btn-outline-secondary" disabled><a class="font-weight-bold">Ostatnia &raquo;</a></button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}