{% extends "memopolis/base.html" %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>


<script>
    let title_data = {{ js_meme_titles | safe }};

    let like_data = {{ js_meme_likes | safe }};
    let dislike_data = {{ js_meme_dislikes | safe }};

    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: title_data,
            datasets: [{
                    label: "Like",
                    backgroundColor: "rgb(91, 223, 91)",
                    data: like_data
                },
                {
                    label: "Dislike",
                    backgroundColor: "rgb(255, 99, 71)",
                    data: dislike_data
                }
            ]
        },
        options: {
            legend: {
                display: false
            },
            title: {
                display: true,
                text: 'Twoje punkty'
            }
        }
    });
</script>
<!-- <script>
    $(document).ready(function () {
        let title_data = {{ js_meme_titles | safe }};
        let like_data = {{ js_meme_likes | safe }};
        let dislike_data = {{ js_meme_dislikes | safe }};
        console.log(dislike_data);
        
        let table = $("#data-table-id").DataTable(
            {
                columns: [{data: like_data}, {data: dislike_data}]
            }
        );
    })
</script> -->
{% endblock javascript %}
{% block content %}

<div class="container results d-flex justify-content-center">
    <div class="chart">
        <canvas id="bar-chart" width="800" height="450"></canvas>
    </div>
    <div class="text">
        <div class="container center">
            <h1>Top 5</h1>
        </div>
        {% for meme in memes %}
        <div class="container border m-3 mobilewidth">
            <div>
                <a href="{% url 'meme-detail' meme.id %}" class="grey-hov">{{ meme.title }}</a>
            </div>
            <div>
                <a>Punkty: </a>
                <a><span class="green">{{ meme.num_vote_up }}</span></a>
                <a><span class="red">{{ meme.num_vote_down }}</span></a>
            </div>
        </div>
        {% endfor %}
        <div class="container border m-3 mobilewidth">
            <h1>Razem: <span class="green">{{ like_sum }}</span><span> | </span><span
                    class="red">{{ dislike_sum }}</span></h1>
            <h1></h1>
        </div>
    </div>
    <div>
        <table id="data-table-id"></table>
    </div>
</div>
{% endblock content %}