{% extends "memopolis/base.html" %}
{% block javascript %}
{% endblock javascript %}
{% block content %}

<div>

        {% for badge in badges %}
            <div class="m-2 d-inline-block">
                <div class="center">
                    <h3>{{ badge.title }}</h3>
                </div>
                <div>
                    <img class="rounded-circle" src="{{ badge.image.url }}" width="195" height="195">
                </div>
            </div>
        {% endfor %}

</div>
{% endblock content %}