$primary-color: #185a8a;

body {
  background: whitesmoke;
  color: #333333;
  font-family: 'Segoe UI', sans-serif;
}

.account-img {
  width: 100px !important;
  height: 100px !important;
}

iframe {
  display: none;
}

.veil {
  display: none;
}

.reveal {
  display: block;
}

.navbar {
  justify-content: initial;
}

body a {
  text-decoration: none;
}

.top img {
  width: 270px;
  height: 200px;

}

.top {
  border-style: solid;
  margin-bottom: 20px;
}

#div_id_tag1,
#div_id_tag2,
#div_id_tag3 {
  width: 32%;
  display: inline-block;
}

.bg-steel {
  background-color: $primary-color;
}

.site-header {
  margin-bottom: 0px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.your-memes {
  margin-top: 12px;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

hr {
  color: $primary-color;
}

.submenu * {
  margin-right: 10px;
  color: #cbd5db;
}

.submenu {
  background-color: $primary-color;
}

.content-section {
  padding: 0px 20px;
  border: solid $primary-color;
  border-radius: 3px;
  min-height: 500px;
  width: 320px;
  background-color: rgb(238, 238, 238);
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


.votes {
  padding-left: 4px;
  padding-right: 2px;
}

.alert-success {
  background-color: rgb(112, 226, 112);
  text-align: center;
}

.pad {
  padding: 3px;
}
#title-data, #like-data {
  display:none;
}
.comment-content {
  min-height: 60px;
  width: 100%;
}

.each-comment {
  border-style: solid;
  border-color: $primary-color;
  margin-bottom: 20px;
  padding: 5px;
}
.results {
  display:flex;
  margin-top: 20px;
}
.center {
  text-align: center;
}
.hidden {
  display: none !important;
}

.actions,
.author {
  display: flex;
  background-color: $primary-color;
  padding-top: 3px;
  padding-bottom: 3px;
  justify-content: left;
  color: whitesmoke;
}

.actions * {
  display: flex;
}

.add-button {
  font-size: 50px;
  text-align: center;
}

.submit-button {
  background-color: $primary-color;
  color: white;
}

.green {
  color: rgb(91, 223, 91);
}

.add-button button {
  color: $primary-color;
}

.author {
  justify-content: stretch;
}

a {
  color: black;
}

.tags a {
  font-size: 14px;
}

.media {
  padding-top: 15px;
}

.upvotes {
  color: rgb(148, 236, 148);
  font-weight: bolder;
}

.downvotes {
  color: rgb(240, 138, 138);
  font-weight: bolder;
}


.memeImg {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.memeImg img {
  max-width: 100%;
  max-height: 100%;
}

.top-margin {
  margin-top: 15px;
}

.center {
  text-align: center;
}

button:hover {
  cursor: pointer;
  color: #6db6eb;
}

header {
  margin-bottom: 10px;
}

.memeTitle {
  font-size: 27px;
}

.meme {
  border-style: solid;
  border-color: $primary-color;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  margin-top: 10px;
}

.datePosted {
  margin-left: 30px;
}

.datePosted a {
  font-size: 13px;
}


.step-links {
  font-size: 16px;
  display: flex;
}

.step-links div {
  margin-left: 20px;
  margin-right: 20px;
}

.pagination {
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 10px;
  background-color: $primary-color;
  color: whitesmoke;

}

.step-links a {
  color: whitesmoke;
}


#content {
  display: flex;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover {
  color: rgb(26, 143, 221);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $primary-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
  color: white;
}

#id_content {
  max-height: 120px;
}

.dropdown:hover .dropdown-content {
  position: absolute;
  display: block;
}

.text textarea {
  width: 100%;
}

.actions * {
  padding-left: 10px;
}

.meme .memeTitle {
  margin-top: 5px;
  margin-bottom: 3px;
}

.col-md-4 {
  width: 200px;
  text-align: center;
  padding-left: 10px;
}

.collapse {
  display: flex;
}

.dropdown a {
  color: white;
  font-size: 36px;
}

.detailMeme {
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 30px;
  padding: 10px;
  color: rgb(228, 228, 228);
  text-decoration: none;
}

.margin-top {
  margin-top: 10px;
}

.margin-top2 {
  margin-top: 15px;
}

.nav-item {
  font-size: 20px;
  padding: 10px;
  color: rgb(228, 228, 228);
  text-decoration: none;
}

.navbar-nav {
  text-align: right;
}

.mr-auto {
  text-align: left;
  padding-top: 17px;
}

.dropdown {
  display: none;
}

.bag {
  width: 200px;
  text-align: center;
  padding-left: 10px;
  font-size: 25px;

}

.user-app-wrap {
  display: flex;
  justify-content: center;
}

.form-group button {
  color: #185a8a;
  border-style: solid;
  border-color: $primary-color;

  margin-top: 5px;
  margin-left: 2px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

button {
  border: none;
}

.comment,
.share,
.flag {
  background-color: $primary-color;
  color: whitesmoke;
}

.downvotes,
.upvotes {
  background-color: $primary-color;
}

a:hover {
  text-decoration: none;
  color: #6db6eb;
}

.content-section a {
  font-size: 30px;
}

.text-muted a {
  font-size: 14px;
}

.form-group {
  margin-bottom: 10px;
  margin-top: 10px;
}

.pt-3 {
  margin-bottom: 10px;
}

#navbarToggle {
  display: flex;
  text-align: right;
}

#profile {
  width: initial;
}

.navimg {
  width: 50px;
  height: 50px;
  margin-left: 8px;
}

#div_id_image a {
  font-size: 14px;
}

.small-img {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 1100px) {
  .pagination * {
    font-size: 16px;
  }

  .content-section {
    width: 280px;
  }

  .top img {
    width: 228px;
  }

}

@media (max-width: 1000px) {
  .pagination * {
    font-size: 15px;
  }

  .content-section {
    width: 260px;
  }

  .top img {
    width: 210px;

  }
}

@media (max-width: 900px) {
  .pagination * {
    font-size: 14px;
  }

  .content-section {
    width: 250px;
  }

  .top img {
    width: 179px;

  }
}

@media (max-width: 800px) {
  .step-links {
    font-size: 11px;
  }

  .container {
    flex-wrap: nowrap !important;
  }

  .container .row {
    margin-left: 105px;
  }
  .results {
    display: block;
  }
  .chart {
    margin-left: -65px;
  }
  .content {
    display: flex !important;
    justify-content: center !important;
  }

  .actions {
    padding-left: 0px;
  }

  .actions * {
    margin-left: 2px;
    font-size: 15px;
  }

  .actions button {
    padding-left: 3px;
    padding-right: 3px;


  }


  .memeTitle {
    font-size: 24px;
  }

  .tags a {
    font-size: 8px;
  }

  .tags {
    padding-top: 2px;
  }

  .author {
    font-size: 10px;
  }

  .datePosted a {
    font-size: 10px;
  }

  .memeImg {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .meme .memeTitle {
    margin-bottom: -10px;
  }

  .pagination * {
    font-size: 13px;
  }

  .content-section {
    width: 250px;
  }

}

/*hamburger mode*/
@media (max-width: 770px) {
  .pagination * {
    font-size: 11px;
  }

  .mobilewidth {
    width: 100% !important;
  }

  #navbarToggle {
    display: block;
  }

  .content-section {
    width: 240px;

  }

  .col-md-4 {
    display: none;
  }

  .navbar-nav {
    display: none;
  }

  .container {
    flex-wrap: nowrap !important;
  }




  .dropdown {
    display: block;
  }

  .mr-auto {
    display: none;
  }
}

@media (max-width: 600px) {



  .pagination * {
    font-size: 11px;
  }

  .memeTitle {
    font-size: 28px;
  }

}

@media (max-width: 489px) {

  .container .row {
    margin-left: 15px;
  }



  .pagination * {
    font-size: 7px;
  }
}